.game-img {
	height: 100;
	width: 100;
}

.screenshot {
	height: 200;
	width: 200;
}

h4 {
	color: blue;
}

h1 {
	color: red;
}

// .item {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }